* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --principal-color-red: #E3646E;
  --principal-color-purple: #BB72E9;
  --principal-color-blue: #3996DB;
  --principal-color-green: #82BC4F;
  --principal-color-yellow: #EABD5F;
  --base-color-gray-100: #E2E4E9;
  --base-color-gray-200: #C0C4CE;
  --base-color-gray-300: #878EA1;
  --base-color-gray-400: #292C34;
  --base-color-gray-500: #16181D;
  --base-color-gray-600: #0D0E11;

  --font-family-primary: "Asap", sans-serif;
  --font-family-secondary: "Inconsolata", monospace;
  ;
  --font-family-tertiary: "Maven Pro", sans-serif;
  ;
  --title-lg: 800 56px/120% var(--font-family-primary);
  --title-md: 800 24px/120% var(--font-family-primary);
  --title-sm: 800 16px/120% var(--font-family-primary);
  --subtitle: 400 20px/120% var(--font-family-secondary);
  --text-md: 400 16px/140% var(--font-family-tertiary);
  --text-sm: 400 14px/140% var(--font-family-tertiary);
  ;
}

#tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 64px;
  flex-wrap: nowrap;
  margin-bottom: 94px;
}

.card {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--base-color-gray-400);
  padding: 8px 24px;
  border-radius: 999px;
}

.card img {
  width: 24px;
  height: 24px;
  display: block;
}

.card figcaption {
  font: var(--text-md);
  color: var(--base-color-gray-200);
}