#projects {
  background-color: var(--base-color-gray-500);
}

#services {
  background-color: var(--base-color-gray-600);
}

#contacts {
  background-image: url(../assets/Background_Contacts.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--base-color-gray-600);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  padding: 128px 120px 450px 120px;

  color: var(--base-color-gray-100);
}

section {
  margin-bottom: 0px;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.section-header {
  text-align: center;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.section-header h2 {
  font: var(--title-md);
  color: var(--base-color-gray-100);
}

.section-header .description {
  font: var(--title-sm);
  color: var(--base-color-gray-100);
  margin-top: 8px;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1280px;
}

.project-card {
  background-color: var(--base-color-gray-400);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

.project-card:hover {
  border-color: var(--base-color-gray-300);
  transform: translateY(-4px);
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-info h3 {
  font: var(--title-sm);
  color: var(--base-color-gray-100);
  margin-bottom: 8px;
}

.card-info p {
  font: var(--text-sm);
  color: var(--base-color-gray-200);
}

.grid-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1280px;
}

.service-card {
  background-color: var(--base-color-gray-600);
  border: 1px solid var(--base-color-gray-400);
  border-radius: 12px;
  padding: 24px;
}

.service-card img {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
}

.link-button {
  background-color: var(--base-color-gray-400);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--base-color-gray-200);
  font: var(--text-md);
  transition: 0.2s;
}

.link-button:hover {
  border-color: var(--principal-color-blue);
}

.link-button:hover .socials {
  filter: invert(56%) sepia(63%) saturate(1832%) hue-rotate(180deg) brightness(93%) contrast(89%);
  transition: 0.2s;
}

.link-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link-content img {
  width: 22.75px;
  filter: none;
}

.link-button .arrow {
  width: 22px;
}