#projects {
  background-color: var(--base-color-gray-500);
}

section {
  margin-bottom: 120px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.section-header {
  text-align: center;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.section-header h2 {
  font: var(--title-md);
  color: var(--base-color-gray-100);
}

.section-header .description {
  font: var(--title-sm);
  color: var(--base-color-gray-100);
  margin-top: 8px;
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1280px;
}

.project-card {
  background-color: var(--base-color-gray-400);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

.project-card:hover {
  border-color: var(--base-color-gray-300);
  transform: translateY(-4px);
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-info h3 {
  font: var(--title-sm);
  color: var(--base-color-gray-100);
  margin-bottom: 8px;
}

.card-info p {
  font: var(--text-sm);
  color: var(--base-color-gray-200);
}