#title-lg {
  font: var(--title-lg);
}

#title-md {
  font: var(--title-md);
}

#title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

.subtitle span.color-red {
  color: var(--principal-color-red);
}

.subtitle span.color-purple {
  color: var(--principal-color-purple);
}

#text-md {
  font: var(--text-md);
}

#text-sm {
  font: var(--text-sm);
}